<section id="photos">
    <h2>ፎቶዎች</h2>
    <div class="section-content">
        <div class="photo-slider">
            <button class="slider-btn prev-btn"><i class="fas fa-chevron-left"></i></button>
            <div class="photo-container">
                <div class="photo-gallery">
                    <div class="photo-item active">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-23.jpg') }}" alt="Photo 1">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-24.jpg') }}" alt="Photo 2">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-26.jpg') }}" alt="Photo 3">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-27.jpg') }}" alt="Photo 4">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-28.jpg') }}" alt="Photo 5">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-31.jpg') }}" alt="Photo 6">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-32.jpg') }}" alt="Photo 7">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-38.jpg') }}" alt="Photo 8">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-40.jpg') }}" alt="Photo 9">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-41.jpg') }}" alt="Photo 10">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-42.jpg') }}" alt="Photo 11">
                    </div>
                    <div class="photo-item">
                        <img src="{{ url_for('static', filename='photo_2025-03-26_12-06-43.jpg') }}" alt="Photo 12">
                    </div>
                </div>
            </div>
            <button class="slider-btn next-btn"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section> 